body {
    background: #000;
    /* margin: 0;
    padding: 0; */
  }

.audio {
    display: none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials {
   /* position both bbuttons in the middle of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .instagram img,
  .facebook img {
    width: 100px; /* Adjust the width to make the buttons smaller */
    height: 100px; /* Adjust the height to maintain aspect ratio */
    animation: moveAround 2s ease-in-out infinite alternate;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .instagram img {
    /* animate in the opposite direction */
    animation-direction: alternate-reverse;
  }

  @keyframes moveAround {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(40px, 40px); /* Adjust the values to control the movement distance */
    }
  }
  

    .instagram img:hover,
    .facebook img:hover {
        /* add delay to the change */
        transition: all 0.2s ease-in-out 0.2s;
        -webkit-filter: invert(100%);
        filter: invert(0%);
    }
